.text{
    color: var(--primaryexp);
}

@media (max-width: 800px) {
    .Exp{
        position: relative;
        top: 100px;
    
    }
  
}
@media (max-width: 360px) {
    .Exp{
        position: relative;
        top: 105px;
    
    }
  
}
@media (max-width: 411px) {
    .Exp{
        position: relative;
        top: 115px;
        margin-top: 85px;
        
        
    }
  
}
@media (max-width: 600px) {
    .Exp{
        position: relative;
        top: 100px;
    
    }
}
    @media (max-width: 450px) {
        .Exp{
            position: relative;
            top: 330px;
        
        }
    }
    @media (width: 768px) {
        .Exp{
            position: relative;
            top: 450px;
        
        }
    }

