.text{
    color: var(--primaryexp);
}

@media (max-width: 800px) {
    .Exp{
        position: relative;
        top: 350px;
    
    }
  
}
@media (max-width: 600px) {
    .Exp{
        position: relative;
        top: 300px;
    
    }
    @media (max-width: 450px) {
        .Exp{
            position: relative;
            top: 330px;
        
        }
    }
}