* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  
  body {
    background: var(--primaryBg);
    color: var(--primaryText);
    font-weight: 400;
  }
  
  button {
    cursor: pointer;
    border: 0;
    background: none;
    outline: none;
  }
  
  a {
    text-decoration: none;
  }
  #particle-canvas {
    position: relative !important;
    left:0;
    top:0;
    width:10%;
    height:10px;
    z-index: 5;
}